@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
</div>
<div class="text-center">
    <h2 class="display-4">Hello</h2>
    <h4 >Welcome To Employee Management App</h4>
</div>



